table {
	width:  100%;
}

/* table users  */
th.nomor {
	width:  10%;
}

th.nama, th.email {
	width:  35%;
}

th.aksi {
	width:  20%;
}


/* table transaksi  */
th.namaTransaksi, th.totalBiaya, th.fotoTransaksi, th.aksiTransaksi {
	width:  22%;
}

/* table guru  */
th.namaGuru, th.mapel, th.umur, th.fotoGuru, th.aksiTransaksi {
	width:  18;
}